node_modules/**
!node_modules/
!node_modules/@vscode/
!node_modules/@vscode/codicons/**
!node_modules/argparse/**
!node_modules/js-yaml/**
src/
test/
out/test/
**/*.map
tsconfig.json
Taproot VS Code Extension_副本.html
taproot-vscode-*.vsix
